<div id="main_list">
  <fieldset style="display:none"></fieldset>
  <h4 class="lead" style="text-align:center">我的指令列表  </h4>
  <%= form_for :simple_form, 
    :as => :get, :remote => true,
    :url => load_other_directive_templates_path,
    :html => {class:'form-search'} do |f| %>
      <div class="pull-right">
        <input name="email" type='text' data-provide="typeahead" 
          data-link="/search/user_by_email" autocomplete="off"
          placeholder="你想导入谁的指令，请输入email" />
        <%=f.submit '导入', class: 'btn' %>
      </div>
  <% end %>
  <%=link_to "新建指令", new_resource_path, :remote => true, :class => 'icon-plus' %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th width="35px">编号</th>
        <th>名称</th>
        <th>脚本</th>
        <th width="60px">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.directive_templates.each do |resource| %>
        <tr>
          <td><%=resource.id %></td>
          <td><%=resource.alias %></td>
          <td title="<%=resource.name %>"><%=resource.name[0..70] %></td>
          <td>
            <%=link_to "修改", edit_resource_path(resource), :remote => true %>
            <%=link_to "删除", resource_path(resource), :remote => true, :method => :delete, :data => { :confirm => "确实要删除吗？"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

