<ul class="nav nav-list" style="background-color:#ddd">
  <% if @operation.directives.where(pluggable:true).count > 0 %>
  <li>
    <span style="float:left;margin-right:4px">
      <i class="icon-globe"></i>
    </span>
    <span onclick="return $(this).parent().children().last().trigger('load_toggle.application')">
      系统任务
    </span>
    <div style="clear:both"></div>
    <div box-href="<%=pluglets_operation_path(params[:operation_id]) %>"></div>
    </li>
  <% end %>
  <% @machines.each do |machine| %>
  <li>
    <span style="float:left;margin-right:4px">
      <i class="icon-briefcase"></i>
    </span>
    <span style="float:left" onclick="return $(this).parent().children().last().trigger('load_toggle.application')">
      <%=machine.name %>
    </span>
    <span style="float:left;padding:0 6px">
      <%=link_to('显示指令列表', directives_machine_path(machine.id), :remote => true ) %>
    </span>
    <span style="float:right"><%=machine.human_state_name%></span>
    <div style="clear:both"></div>
    <div box-href="<%=directives_operation_machine_path(params[:operation_id],machine.id) %>"></div>
  </li>
  <% end %>
</ul>
