      <div class="row-fluid">
        <ul id="menu" class="nav nav-tabs">
          <li id="m_intro" class="active">
          <%=link_to '概况', intro_app_path(app), remote: true %>
          </li>
          <% if current_user.is_pe? app %>
            <li id="m_machines">
            <%=link_to '服务器管理', machines_path, remote: true %>
            </li>
            <li id="m_permissions">
            <%=link_to '授权管理', ops_app_path(app), remote: true %>
            </li>
          <% end %>
        </ul>
      </div>
      <div id="container">
        <%= render 'intro', :app => app %>
      </div>
      <script type="text/javascript">
        $("#app_nav li").removeClass("active");
        $("#app_nav_<%=app.id %>").addClass("active");
      </script>
