                    <td>
                      <label class="inline" title="<%="#{machine.name} [#{machine.host} #{machine.user}]" %>">
                        <input type="checkbox" name="machine_ids[]" value="<%=machine.id %>" />
                        <span style="color:<%=machine.normal? ? :green : :red %>">
                          <%=machine.name[0..16] %>
                        </span>
                      </label>
                    </td>
                    <td>
                      <% if machine.normal? %>
                        <div class="btn-group">
                          <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-off"></i>停止
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            <li>
                            <%= link_to(pause_machine_path(machine.id), :remote => true, :method => :put) do %>
                              <i class="icon-pause"></i>暂停
                            <% end %>
                            </li>
                            <li>
                            <%=link_to(interrupt_machine_path(machine.id), :remote => true, :method => :put, :data => {:confirm => "强制暂停将终止当前正在执行的指令，是否要这么做？"}) do %>
                              <i class="icon-ban-circle"></i>强制停止
                            <% end %>
                            </li>
                          </ul>
                        </div>
                      <% else %>
                        <%=link_to(reset_machine_path(machine.id), :remote => true, :method => :put, :class => 'btn btn-small btn-primary') do %>
                          <i class="icon-play"></i> 继续
                        <% end %>
                      <% end %>
                    </td>
