                <td>
                  <%=machine.name %>
                </td>
                <td>
                  <%=machine.host %>
                </td>
                <td>
                  <%=machine.user %>
                </td>
                <td>
                  <%=machine.port %>
                </td>
                <td>
                  <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                      <%=machine.env %>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <% current_app.envs.each do |env| %>
                        <li><%=link_to(
                          env.name,
                          change_env_machine_path(machine.id,:env_id => env.id), 
                          :remote => true,
                          :method => :put
                        )%></li>
                      <% end %>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="btn-group">
                    <% machine_actions(machine).each do |link| %>
                      <button class="btn"><%=link %></button>
                    <% end %>
                  </div>
                </td>

