                <td>
                  <%=machine.name %>
                </td>
                <td>
                  <%=machine.host %>
                </td>
                <td>
                  <a class="editable" data-emptytext="默认用户" data-pk="<%=machine.id %>"
                    href="#" data-inputclass="span6">
                    <%=machine.user %>
                  </a>
                </td>
                <td>
                  <%=machine.port %>
                </td>
                <td>
                  <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                      <%=machine.room.try :name %>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <% Room.find_each do |room| %>
                        <li><%=link_to(
                          room.name,
                          change_room_machine_path(machine.id,:room_id => room.id), 
                          :remote => true,
                          :method => :put
                        )%></li>
                      <% end %>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                      <%=machine.env %>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <% current_app.envs.each do |env| %>
                        <li><%=link_to(
                          env.name,
                          change_env_machine_path(machine.id,:env_id => env.id), 
                          :remote => true,
                          :method => :put
                        )%></li>
                      <% end %>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="btn-group">
                    <% machine_actions(machine).each do |link| %>
                      <button class="btn"><%=link %></button>
                    <% end %>
                  </div>
                </td>
                <td>
                  <% if machine.locked? %>
                    <strong>手工维护，忽略自动同步
                      <%=link_to '取消', unlock_machine_path(machine), remote: true, method: :put, :class => 'btn btn-small btn-inverse', :title => '单击取消手工维护状态，转为系统自动维护', :data => {:confirm => '本操作不可恢复，确定要由系统自动维护吗？'}  %>
                      <%=link_to '删除', machine_path(machine), remote: true, method: :delete, :class => 'btn btn-small btn-danger', :title => '单击删除本服务器，不可恢复', :data => {:confirm => '本操作不可恢复，确定要删除吗？'} %>
                    </strong>
                  <% end %>
                  &nbsp;
                </td>
                <td>
                  <%= form_for :simple_form, 
                    :method => :put, :remote => true,
                    :url => change_app_machine_path(machine),
                    :html => {class:'form-search'} do |f| %>
                    <div class="pull-right">
                      <input name="name" type='text' 
                        class="input-medium"
                        data-provide="typeahead" 
                        data-link="/search/app_by_name_and_user" 
                        autocomplete="off"
                        placeholder="填入要分配的应用名" />
                      <%=f.submit '更改应用', class: 'btn' %>
                    </div>
                  <% end %>
                </td>

